@{
    ViewData["Title"] = "Beauty Cosmetics";
}

<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">

                    <h1 class="mb-5">
                        Beauty Cosmetics
                    </h1>

                    <p class="lead">
                        Професійна косметика для догляду за шкірою та волоссям
                    </p>

                </div>
            </div>
        </div>
    </div>
</header>

<section class="features-icons bg-light text-center">
    <div class="container">

        <h2 class="mb-5">
            Наші переваги
        </h2>

        <div class="row">

            <div class="col-lg-4">
                <div class="features-icons-item">
                    <h3>Якісна продукція</h3>
                    <p>Лише сертифікована косметика.</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="features-icons-item">
                    <h3>Швидка доставка</h3>
                    <p>Доставка по всій Україні.</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="features-icons-item">
                    <h3>Доступні ціни</h3>
                    <p>Постійні знижки та акції.</p>
                </div>
            </div>

        </div>

    </div>
</section>

<section class="showcase">
    <div class="container-fluid p-0">

        <div class="row g-0">

            <div class="col-lg-6">
                <img src="/assets/img/bg-showcase-1.jpg"
                     class="img-fluid">
            </div>

            <div class="col-lg-6 my-auto showcase-text">

                <h2>Крем для обличчя</h2>

                <p>
                    Професійний крем для щоденного догляду.
                </p>

            </div>

        </div>

    </div>
</section>